@charset "UTF-8";
body {
    margin: 0px; 
    background-color: blue;
    text-align: center;
    display: grid;
}
header { 
        display: block;
        color: white;
        background-color: rgb(89, 42, 165);
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 1;
}
a { 
    color: white;
}
nav {
    display: block;
    color: white;
    background-color: brown;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
}
main {
    position: absolute;
    top: 100px;
    display: block;
    background-color: yellow;
    width: 100%;
    height: fit-content;
    z-index: 0;
}
footer { 
    background-color: pink;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}