@charset "UTF-8";
@font-face {
    font-family: 'CryshGraffiti';
    src: url(../fontes/CryshGraffiti-Regular.otf);
}
@font-face {
    font-family: 'fanky';
    src: url(../fontes/FankyBubbleGraffiti-Line.otf);
}
* { 
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0%; 
    background-color: rgb(5, 0, 77);
    
    font-family: arial;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #686868;
  }
header { 
     color: white;
     background-image: linear-gradient(to right, rgb(100, 0, 182), rgba(110, 0, 196, 0.98), rgb(100, 0, 182) );
     width: 100%;
     height: 11%;
     position: fixed;
     z-index: 1;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
        
}
header > a > img { 
    position: absolute;
    height: 81px;
    width: 95px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);
    filter: brightness(130%);
    border-radius: 20%;
}
header > a > img:hover { 
    scale: 102%;
    filter: brightness(140%);
    transition-duration: .3s;
}
#links_acesso { 
    position: absolute;
    top: 40%;
    right: .4%;
    transform: translate(-0%, -50%);
    gap: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#link_acesso > a { 
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: justify;
}

#links_acesso a:hover { 
    scale: 102%;
    transition-duration: .3s;
    filter: brightness(130%);
    transition-timing-function: ease;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
    transition-property: scale, filter;
    background-image: linear-gradient(to right, rgb(115, 0, 206), rgb(121, 0, 196), rgb(115, 0, 206) );  
}
#links_acesso img { 
    width: 70px;
    height: 65px;
}
a { 
    color: rgb(190, 119, 119);
    text-decoration: none;
}
nav {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 0, 220), rgba(0, 0, 255, 0.925), rgb(0, 0, 220));
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.459);
    font-size: 18px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(32, 0, 146);
    cursor: pointer;
    
}
#nav_aberta { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-image: linear-gradient(to right, rgb(0, 0, 200), rgb(0, 0, 230), rgb(0, 0, 200));
    visibility: visible;
    position: fixed;
    width: 100%;
    top: 11%;
    height: 0%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    gap: 0.2%;
    transition-duration: .8s;
    transition-timing-function: ease;
}
nav:hover { 
    filter: brightness(130%);
}

.imagem_exibição_nav {
    margin: 0px 10px 0px 10px;
    flex-shrink: 0;
    flex-grow: 1;
    position: relative; 
    border: 2px solid white;
    border-radius: 10px;
    width: 179px;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    font-family: arial;
    filter: opacity(150%) grayscale(30%);
    transition-duration:0.5s;
    transition-timing-function: ease;
}
.imagem_exibição_nav:hover {
    scale: 105%;
    
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    filter: opacity(100%) grayscale(0%);
    .escrita_exibição_imagem_nav h1 { 
        filter: brightness(150%);
        text-decoration: underline;
        background-color: rgba(0, 0, 0, 0.5);
        filter: grayscale(0%);
    } 
    .escrita_exibição_imagem_nav p { 
        background-color: rgb(19, 19, 19);
        filter: grayscale(0%);
    }
    
}
.escrita_exibição_imagem_nav {
    text-shadow: 0px 0px 10px black; 
    text-align: center;
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.escrita_exibição_imagem_nav h1, p {
    margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_nav  h1 {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: clamp(1.5em, 1em + 1vw, 2em);
}
.escrita_exibição_imagem_nav  p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: clamp(1em, 0.5em + 0.5vw, 1.2em);
}
.escrita_exibição_imagem_pecas {
    text-shadow: 0px 0px 10px black; 
    text-align: center;
    position: relative;
    width: 100%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.escrita_exibição_imagem_pecas h1, p {
    margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_pecas  h1 {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: clamp(1.5em, 1em + 1vw, 2em);
}
.escrita_exibição_imagem_pecas  p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: clamp(1em, 0.5em + 0.5vw, 1.2em);
}
main {
    top: 10%;
    text-align: center;
    position:absolute ;
    width: 99%;
    height: 100vh;
    color: white;
    border-radius: 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
main > h1 {
    margin: 10px 0px 0px 0px;
    letter-spacing: 1.05rem;
    font-family:'fanky', arial ;
    font-variant: small-caps;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.80);
    font-weight: bolder;
    font-size: clamp(5rem, 2vw, 3rem);
}
main > h2 {
    margin: 10px 0px 0px 0px;
    font-size: clamp(2.5rem, 2vw, 2rem); 
    letter-spacing: 1.02rem;
    font-family: arial ;
    font-variant: small-caps;
    font-weight: 700;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.80);
}
#img-botão-voltar { 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    right: 10px;
    bottom: 35px;
    width: 70px;
    box-shadow: 0px 0px 2px black;
}
#img-botão-voltar:hover { 
    scale: 103%;
    background-color: rgba(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition-duration: .7s;
    transition-timing-function: ease;
    transition-property: scale, box-shadow;
}
footer { 
    background-image: linear-gradient(to right, rgb(0, 0, 30), rgba(0, 0, 50, 0.925), rgb(0, 0, 30));
    font-size: 1.5rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
    text-align: center;
}
/*Celular*/
@media screen and (min-width: 320px) and (max-width: 667px) { 
    .escrita_exibição_imagem_nav  h1 {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 1.2rem;
    }
    .escrita_exibição_imagem_nav  p {
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }
    .escrita_exibição_imagem_nav {
        width: 100%;
        top: 130px;
        left: 50%;
        transform: translate(-50%);
    }
    #links_acesso img { 
        width: 55px;
        height: 50px;
    }
    header > a > img { 
        height: 55px;
        width: 68px;
        left: 10%;
        transform: translate(-50%);
    }
}
@media screen and (min-width: 667px) and (max-width: 1024px) { 
    #links_acesso img { 
        width: 65px;
        height: 65px;
    }
    header > a > img { 
        height: 60px;
        width: 75px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    #links_acesso img { 
        width: 65px;
        height: 60px;
    }
    header > a > img { 
        height: 68px;
        width: 80px;
        left: 50%;
        transform: translate(-50%);
    }
}