@charset "UTF-8";
@font-face {
  font-family: "fanky";
  src: url(../fontes/FankyBubbleGraffiti-Line.otf);
}
@font-face {
  font-family: "luckiest";
  src: url(../fontes/LuckiestGuy-Regular.ttf);
  font-variant: small-caps;
  font-weight: bolder;
}
/* Deixar o scroll mais leve e bonito*/
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0%;
  background-color: rgb(5, 0, 77);
  font-family: arial;
}
/* Personalização da ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #686868;
}
/* Parte de cima da página, onde temos a logo, menu de navegação entre as páginas e o menu suspenso para filtros */
header {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(131, 18, 224),
    rgba(127, 22, 207, 0.98),
    rgb(131, 18, 224)
  );
  width: 100%;
  height: 13%;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
/* Logo da empresa*/
header > a > img {
  position: absolute;
  height: 76px;
  width: 90px;
  left: 50%;
  top: 40%;
  z-index: 1;
  transform: translate(-50%, -50%);
  filter: brightness(130%);
  border-radius: 20%;
}
header > a > img:hover {
  scale: 102%;
  filter: brightness(140%);
  transition-duration: 0.3s;
}
/* Menu de acesso a outras páginas*/
.links_acesso {
  position: absolute;
  top: 40%;
  right: 0.4%;
  transform: translate(-0%, -50%);
  gap: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#link_acesso > a {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: justify;
}
.links_acesso > div:hover, .links_acesso > label:hover, .links_acesso > a:hover{ 
  cursor: pointer;
  scale: 102%;
  transition-duration: 0.3s;
  filter: brightness(130%);
  transition-timing-function: ease;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
  transition-property: scale, filter;
  background-image: linear-gradient(
    to right,
    rgb(115, 0, 206),
    rgb(121, 0, 196),
    rgb(115, 0, 206)
  );
}
.links_acesso img {
  width: 70px;
  height: 65px;
}
a {
  color: rgb(190, 119, 119);
  text-decoration: none;
}
/* Linha azul que serve para ser clicada e abrir/fechar o menu suspenso de filtros */
nav {
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 220),
    rgba(0, 0, 255, 0.925),
    rgb(0, 0, 220)
  );
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.459);
  font-size: 18px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(32, 0, 146);
  cursor: pointer;
}
/* menu suspenso de filtros*/
#nav_aberta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 200),
    rgb(0, 0, 230),
    rgb(0, 0, 200)
  );
  visibility: visible;
  position: fixed;
  width: 100%;
  top: 13%;
  height: 0%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  align-items: center;
  gap: 0.2%;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}
nav:hover {
  filter: brightness(130%);
}
/* imagens e textos presentes no menu suspenso */
.imagem_exibição_nav {
  margin: 0px 10px 0px 10px;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  width: 179px;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
  font-family: arial;
  filter: opacity(150%) grayscale(30%);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: scale;
}
.imagem_exibição_nav:hover {
  scale: 102%;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  filter: opacity(100%) grayscale(0%);
}
.escrita_exibição_imagem_nav {
  text-shadow: 0px 0px 10px black;
  text-align: center;
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.escrita_exibição_imagem_nav h1,
p {
  margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_nav h1 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: clamp(1.5em, 1em + 1vw, 2em);
}
.escrita_exibição_imagem_nav p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1em, 0.5em + 0.5vw, 1.2em);
}
/* Inicio do conteúdo principal */
main {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  color: white;
}
main > h1 {
  margin: 25px 0px 0px 0px;
  letter-spacing: 1.05rem;
  font-family: "fanky", arial;
  font-variant: small-caps;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.8);
  font-weight: bolder;
  font-size: clamp(5rem, 2vw, 3rem);
}
main > h2 {
  margin: 10px 0px 0px 0px;
  font-size: clamp(2.5rem, 2vw, 2rem);
  letter-spacing: 1.02rem;
  font-family: arial;
  font-variant: small-caps;
  font-weight: 700;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.8);
}
/* botão de voltar para o topo da página*/
#img-botão-voltar {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.76);
  position: fixed;
  right: 1.5%;
  bottom: 5%;
  width: 70px;
  box-shadow: 0px 0px 2px black;
}
#img-botão-voltar:hover {
  scale: 103%;
  background-color: rgba(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-property: scale, box-shadow;
}
/* Botão de acionar o suporte*/
#img-botão-suporte {
  border-radius: 50%;
  background-color: rgb(160, 162, 243);
  position: fixed;
  left: 1.5%;
  bottom: 5%;
  width: 70px;
  box-shadow: 0px 0px 2px black;
}
#img-botão-suporte:hover {
  cursor: pointer;
  scale: 101%;
  background-color: rgb(188, 189, 253);
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-property: scale, box-shadow;
}
#Caixa_suporte {
  position: fixed;
  display: none;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(98, 41, 190, 0.993),
    rgba(101, 40, 199, 0.993),
    rgba(66, 26, 131, 0.993)
  );
  bottom: 14%;
  width: 30%;
  height: 70%;
  border-radius: 30px;
  letter-spacing: 1px;
  font-family: "luckiest", Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
#caixa_suporte > h1 {
  display: inline;
  top: 1%;
  position: relative;
  transform: translate(-50%, -50%);
}

#container_botoes_suporte {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15%;
}
#container_botoes_suporte > button {
  width: 50%;
  border-radius: 20px;
  box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);
}
#container_mensagens {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 60%;
  background-color: rgba(59, 0, 114, 0.589);
  display: flex;
  flex-direction: column;
  gap: 3%;
  overflow-y: auto;
}
#apagar_historico {
  position: absolute;
  width: 60px;
  bottom: 100%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 20px;
}
#apagar_historico:hover {
  cursor: pointer;
  scale: 102%;
  transition-duration: 0.7s;
}
/* Página de avaliação de atendimento pós conversa com suporte */
#avaliar_atendimento {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  height: 50%;
  display: none;
  background-color: rgb(70, 0, 110);
  border-radius: 20px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-size: 2rem;
  text-shadow: -2px 1px 10px rgba(0, 0, 0, 0.555);
}
#avaliar_emojis {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#avaliar_emojis img {
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 1;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: scale;
}
#avaliar_emojis img:hover {
  scale: 104%;

  border-radius: 50%;
}
#avaliar_emojis #emojis_avaliacao_1:hover {
  box-shadow: 0px 0px 15px white;

  background-color: green;
}
#avaliar_emojis #emojis_avaliacao_2:hover {
  box-shadow: 0px 0px 14px white;
  background-color: rgba(56, 160, 56, 0.7);
}
#avaliar_emojis #emojis_avaliacao_3:hover {
  box-shadow: 0px 0px 13px rgb(145, 145, 145);
  background-color: rgb(124, 124, 124);
}
#avaliar_emojis #emojis_avaliacao_4:hover {
  background-color: rgb(151, 44, 44);
  box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.7);
}
#avaliar_emojis #emojis_avaliacao_5:hover {
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
}
#avaliar_atendimento > h1 {
  font-family: "luckiest", Arial, Helvetica, sans-serif;
}
#container_mensagens ul {
  list-style-type: disc;
  text-align: start;
}
#container_mensagens li > ul {
  list-style-type: square;
  text-align: start;
}
.mensagem_suporte {
  position: relative;
  width: 50%;
  overflow-x: hidden;
  background-color: white;
  border: 2px solid black;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
  color: black;
  letter-spacing: 1px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
}
.mensagem_usuario {
  border-radius: 10px 0px 10px 10px;
  left: 72%;
  transform: translate(-50%, 0%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.mensagem_sistema {
  border-radius: 0px 10px 10px 10px;
  left: 1%;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* Parte final da página onde ficam os créditos */
footer {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 30),
    rgba(0, 0, 50, 0.925),
    rgb(0, 0, 30)
  );
  font-size: 1.4rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 0%;
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
  text-align: center;
  transition-timing-function: ease;
  transition-duration: .5s;
}
/* Botão de abrir/fechar os créditos */
#creditos_toggle {
  z-index: 1;
  background-color: rgb(255, 0, 60);
  position: fixed;
  bottom: 0%;
  left: 1%;
  width: 26px;
  height: 26px;
}
/* Caixa de login de usuário */
#caixa_login {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 90%;
  background-image: linear-gradient(
    to bottom,
    rgb(107, 41, 212),
    rgb(90, 0, 200),
    rgb(100, 25, 220)
  );

  text-align: center;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#caixa_login form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#caixa_login h1 {
  color: rgb(163, 34, 248);
  font-size: 5rem;
  text-shadow: -1px 0px 5px rgb(0, 0, 0);
  letter-spacing: 5px;
  font-family: "luckiest", Arial, Helvetica, sans-serif;
}
#caixa_login form > label {
  display: inline-block;
  cursor: pointer;
}
#caixa_login input[type="text"],
input[type="password"] {
  font-size: 1.5rem;
  color: black;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.911);
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 35px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: text;
}
#caixa_login #container_botoes > input {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  width: 100%;
  height: 30px;
}

#caixa_login input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  scale: 102%;
  transition-duration: 0.3s;
}
#caixa_login > label {
  position: absolute;
  right: 0%;
}
.botaofechar {
  top: 0%;
  right: 0%;
  position: absolute;
  width: 64px;
  cursor: pointer;
  height: 64px;
}
.botaofechar:hover {
  filter: brightness(110%);
  scale: 102%;
  transition-duration: 0.3s;
}
/*Celular*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .escrita_exibição_imagem_nav h1 {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
  }
  .escrita_exibição_imagem_nav p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
  .escrita_exibição_imagem_nav {
    width: 100%;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
  }
  .links_acesso img {
    width: 55px;
    height: 50px;
  }
  header > a > img {
    height: 55px;
    width: 68px;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  #Caixa_suporte {
    background-image: linear-gradient(
      to bottom,
      rgba(98, 41, 190, 0.993),
      rgba(101, 40, 199, 0.993),
      rgba(66, 26, 131, 0.993)
    );
    bottom: 14%;
    width: 30%;
    height: 70%;
    letter-spacing: 1px;
  }
  #caixa_suporte > h1 {
    top: 1%;
  }

  #container_botoes_suporte {
    height: 15%;
  }
  #container_mensagens {
    top: 45%;
    width: 80%;
    height: 60%;
    gap: 3%;
    overflow-y: auto;
  }
  #apagar_historico {
    width: 60px;
    bottom: 100%;
    left: 80%;
  }
  #avaliar_atendimento {
    top: 50%;
    width: 50%;
    height: 50%;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  #avaliar_emojis {
    top: 50%;
  }
  #avaliar_emojis img {
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: scale;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .links_acesso img {
    width: 65px;
    height: 65px;
  }
  header > a > img {
    height: 60px;
    width: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #Caixa_suporte {
    background-image: linear-gradient(
      to bottom,
      rgba(98, 41, 190, 0.993),
      rgba(101, 40, 199, 0.993),
      rgba(66, 26, 131, 0.993)
    );
    bottom: 14%;
    width: 30%;
    height: 70%;
    letter-spacing: 1px;
  }
  #caixa_suporte > h1 {
    top: 1%;
  }

  #container_botoes_suporte {
    height: 15%;
  }
  #container_mensagens {
    top: 45%;
    width: 80%;
    height: 60%;
    gap: 3%;
    overflow-y: auto;
  }
  #apagar_historico {
    width: 60px;
    bottom: 100%;
    left: 80%;
  }
  #avaliar_atendimento {
    top: 50%;
    width: 50%;
    height: 50%;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  #avaliar_emojis {
    top: 50%;
  }
  #avaliar_emojis img {
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: scale;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .links_acesso img {
    width: 65px;
    height: 60px;
  }
  header > a > img {
    height: 68px;
    width: 80px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  #Caixa_suporte {
    left: 1.5%;
    bottom: 15%;
  }
  #caixa_suporte > h1 {
    top: 1%;
  }

  #container_botoes_suporte {
    height: 15%;
  }
  #container_mensagens {
    top: 45%;
    width: 80%;
    height: 60%;
    gap: 3%;
    overflow-y: auto;
  }
  #apagar_historico {
    width: 60px;
    bottom: 100%;
    left: 80%;
  }
  #avaliar_atendimento {
    top: 50%;
    width: 50%;
    height: 50%;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  #avaliar_emojis {
    top: 65%;
  }
  #avaliar_emojis img {
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: scale;
  }
}
