@charset "UTF-8";

/* Estilização dos textos das caixas com peças de exemplo */
.escrita_exibição_imagem_nav {
  text-shadow: 0px 0px 10px black;
  text-align: center;
  position: relative;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.escrita_exibição_imagem_nav h1,
p {
  margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_nav h1 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: clamp(1.5em, 1em + 1vw, 2em);
}
.escrita_exibição_imagem_nav p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1em, 0.5em + 0.5vw, 1.2em);
}
.escrita_exibição_imagem_pecas {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  border-radius: 0px 0px 15px 15px;
  transform: translate(-50%, -50%);
}

.escrita_exibição_imagem_pecas h1,
p {
  margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_pecas h1 {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 10px black;
  font-size: 1.5rem;
}
.imagem_exibição_nav {
  margin: 0px 10px 0px 10px;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  width: 179px;
  height: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
  font-family: arial;
  filter: opacity(150%) grayscale(30%);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: scale;
}
.imagem_exibição_nav:hover {
  scale: 102%;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  filter: opacity(100%) grayscale(0%);
}
.escrita_exibição_imagem_nav {
  text-shadow: 0px 0px 10px black;
  text-align: center;
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.escrita_exibição_imagem_nav h1,
p {
  margin: 2px 0px 0px 0px;
}
.escrita_exibição_imagem_nav h1 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: clamp(1.5em, 1em + 1vw, 2em);
}
.escrita_exibição_imagem_nav p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1em, 0.5em + 0.5vw, 1.2em);
}
#label_submitpecas > p {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 122, 3);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.preco_peca {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  border: 1px solid white;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-shadow: -1px 0px 1px rgb(15, 67, 20);
  border-radius: 0px 0px 20px 20px;
}
.preco_peca > input {
  text-align: center;
  color: rgb(41, 202, 41);
  font-size: 1.8rem;
  border-radius: 0px 0px 20px 20px;
  width: 98%;
  background-color: rgb(0, 0, 0);
}
.escrita_exibição_imagem_pecas p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
/* Container que abrange todas peças da página inicial*/
form#pecas_home_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
/* Seletor das peças em conjunto */
div.peca_home {
  flex-shrink: 0;
  margin-top: 3%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  border: 1px rgb(255, 255, 255) solid;
  background-color: rgba(0, 0, 0, 0.493);
  width: 20%;
  height: 45%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: block;
}
div.peca_home:hover {
  scale: 105%;
}
.exibicao_hover_pecas {
  display: none;
  position: relative;
}
.exibicao_hover_pecas > p {
  font-size: 2.5rem;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 5%;
  border-radius: 50%;
  background-color: rgba(48, 25, 25, 0.316);
  text-shadow: -1px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exibicao_hover_pecas img {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 5%;
  top: 0%;
  cursor: pointer;
}
.exibicao_hover_pecas > input[type="number"] {
  position: absolute;
  top: 50px;
  left: 3%;
  width: 50px;
  height: 10px;
}
#pecas_home_container input[type="checkbox"]:checked + .peca_home {
  border: 1px solid rgb(1, 173, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}
#pecas_home_container input[type="checkbox"]:checked + .peca_home:hover {
  scale: 100%;
}
#pecas_home_container
  input[type="checkbox"]:checked
  + .peca_home
  > .exibicao_hover_pecas {
  display: block;
}
#pecas_home_container input[type="checkbox"],
#submit_pecas {
  display: none;
}

div.peca_home:hover > .exibicao_hover_pecas {
  display: block;
}
/* Estilização do menu suspenso*/
#nav_aberta input[type="checkbox"] {
  display: none;
}
#nav_aberta input[type="checkbox"]:checked + label {
  filter: grayscale(20%);
  scale: 92%;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
  border: 4px solid black;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .escrita_exibição_imagem_pecas {
    top: 87%;
  }
  .imagem_exibição_nav { 
    width: 175px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .exibicao_hover_pecas {
    display: block;
  }
  div.peca_home {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  }
  form#pecas_home_container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }
  /* Seletor das peças em conjunto */
  div.peca_home {
    width: 28%;
    height: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  div.peca_home {
    width: 150px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  }
  .expanded_peca_home {
    position: relative;
    height: 30%;
  }
  div#pecas_home_container {
    position: absolute;
    top: 26%;
  }
  .escrita_exibição_imagem_pecas h1 {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
  }
  .escrita_exibição_imagem_pecas p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
  .escrita_exibição_imagem_pecas {
    width: 100%;
    top: 110px;
    left: 50%;
    transform: translate(-50%);
  }
}
