body {
  overflow: hidden;
}
header {
  height: 16%;
}
.links_acesso {
  top: 50%;
}
header > a > img {
  position: absolute;
  top: 50%;
}
@keyframes girar_card1 {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
    background-image: url(../Imagens/logo\ sem\ fundo.png);
  }
}
@keyframes girar_card1_inverso {
  0% {
    transform: rotatey(360deg);
    background-image: url(../Imagens/logo\ sem\ fundo.png);
  }
  100% {
    transform: rotatey(0deg);
    background-image: url(../Imagens/colagemlogos.jpg);
  }
}
div.card_home {
  position: relative;
  width: 280px;
  height: 280px;
  margin-left: 50px;
  box-shadow: 0 0 3px rgb(0 0 0 / 0.63);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}
.container_home {
  display: flex;
  background-color: #0a0661;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px #000;
  width: 95%;
  border-radius: 30px;
  position: relative;
  height: 50%;
}
#container_cards {
  position: relative;
  width: 100%;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  flex-wrap: wrap;
  flex-direction: row;
}
#container_card_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
}
#container_ODS {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  left: 50%;
  transform: translate(-50%);
}
#container_ODS > div.card_home {
  position: relative;
  border-radius: 10px;
}
p {
  text-indent: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 110%;
  margin-left: 50px;
}
#final_pagina {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%);
  background-color: #0a0661;
  box-shadow: 1px 1px 30px #000;
  height: 5%;
}
#final_pagina > a {
  color: #990870;
}
#final_pagina > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 320px) {
  #img-botão-voltar {
    display: none;
  }
  main > h1 {
    font-size: 250%;
  }
  main > h2 {
    font-size: 150%;
  }
  p {
    font-size: 35%;
    margin-left: 10px;
  }
  div.card_home {
    width: 80px;
    height: 80px;
    margin-left: 0;
    scale: 85%;
  }
  #final_pagina {
    font-size: 1rem;
    border-radius: 0;
    height: 5%;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  #img-botão-voltar {
    display: none;
  }
  main > h1 {
    font-size: 350%;
  }
  main > h2 {
    font-size: 220%;
  }
  p {
    font-size: 40%;
    margin-left: 10px;
  }
  div.card_home {
    width: 100px;
    height: 100px;
    margin-left: 0;
    scale: 85%;
  }
  #final_pagina {
    font-size: 1.3rem;
    border-radius: 0;
    height: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 80%;
  }
  div.card_home {
    width: 180px;
    height: 180px;
    margin-left: 10px;
    scale: 85%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  div.card_home {
    scale: 90%;
  }
}
