body {
  overflow: hidden;
}
header {
  height: 16%;
}
.links_acesso {
  top: 50%;
}

header > a > img {
  position: absolute;
  top: 50%;
}
/* Animação de giro dos cards quando passa o mouse por cima (hover) */
@keyframes girar_card1 {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
    background-image: url(../Imagens/logo-semfundo.png);
  }
}
@keyframes girar_card1_inverso {
  0% {
    transform: rotatey(360deg);
    background-image: url(../Imagens/logo-semfundo.png);
  }
  100% {
    transform: rotatey(0deg);
    background-image: url(../Imagens/colagemlogos.jpg);
  }
}
/* Seletor geral dos cards da pagina */
div.card_home {
  position: relative;
  width: 20%;
  height: 20%;
  margin-left: 50px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}
/* classe que abrange cada caixa*/
.container_home {
  display: flex;
  background-color: rgb(10, 6, 97);
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px black;
  width: 95%;
  border-radius: 30px;
  position: relative;
  height: 50%;
}
/* Container que abrange em volta das caixas*/
#container_cards {
  position: relative;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  flex-wrap: wrap;
  flex-direction: row;
}
/* Caixa 1*/
#container_card_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
}
/* caixa 2 */
#container_ODS {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  left: 50%;
  transform: translate(-50%);
}
#container_ODS > div.card_home {
  position: relative;
  border-radius: 10px;
}
p {
  text-indent: 10px;
  text-align: center; 
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 110%;
  margin-left: 50px;
}
/* parte final das páginas com o download dos documentos */
#final_pagina {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%);
  background-color: rgb(10, 6, 97);
  box-shadow: 1px 1px 30px black;
  height: 5%;
}
#final_pagina > a {
  color: rgb(153, 8, 112);
}
#final_pagina > a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {

  #container_cards {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
    flex-direction: row;
  }
}
